.project-container{
    background-color: #31333bF0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    width: 100%;
    height: 100%;

    transition: 0.5s;

    &:hover{
        opacity: 1;
    }

    p{
        padding: 0 20%;
        font-size: 1.4rem;
        font-weight: 400;
    }

    a{
        background-color: var(--colorAccent);
        padding: 7px 15px;
        border-radius: 5px;

        font-weight: 600;
        font-size: 1.4rem;
        color: var(--backgroundPrimary);
        text-decoration: none;
        text-align: center;

        transition: 0.5s;

            &:hover{
                background-color: var(--colorAccentSecundary);
            }
    }
}