<div id="about" class="about">
    <div class="container">
        <h2>About</h2>
        <div>
            <p>I am 25 years old and i've been working in software development for over 5 years.
                I embarked on my Java journey when I landed a job creating desktop softwares, 
                and now focused on Web Development as a Mid-Level Developer.
                <span>I'm on a journey to become a skilled FullStack Developer.</span>
                Always excited to learn and take on new challenges in the tech world!</p>
            <p>Besides coding, I love music 🎵 (currently learning piano 🎹), video games 🎮 
                and all kinds of sports (⚽ 🏀 ♟️ 🏋🏽 🏓).</p>
        </div>
        <div class="skills">
            <h3>My Skills</h3>
            <div class="container-skills">
                <app-skill-card class="main-card" *ngFor="let skill of primarySkills" [skill]=skill/>
            </div>
            <div class="container-skills">
                <app-skill-card class="secondary-card" *ngFor="let skill of secondarySkills" [skill]=skill/>
            </div>
        </div>
    </div>
</div>
