<div id="about" class="about">
  <div class="container">
    <h2>About</h2>
    <div>
      <p>
        I'm a {{ age }}-year-old software developer with over
        {{ yearsOfExperience }} years of experience, focused mainly on backend
        development using Java, Spring Boot, Hibernate, JPA, and PostgreSQL. In
        recent years, I've expanded my skill set to frontend development with
        Angular 16,
        <span>aiming to become a versatile Full-Stack Developer.</span>
        I love solving problems with clean and structured code, and I'm always
        eager to learn new things and tackle challenging projects.
      </p>
      <p>
        Outside of programming, you’ll find me enjoying music 🎵 (currently
        learning piano 🎹), playing video games 🎮, or practicing various sports
        such as football ⚽, basketball 🏀, chess ♟️, weightlifting 🏋🏽, and
        table tennis 🏓.
      </p>
    </div>
    <div class="skills">
      <h3>Main Skills</h3>
      <div class="container-skills">
        <app-skill-card
          class="main-card"
          *ngFor="let skill of primarySkills"
          [skill]="skill"
        />
      </div>
      <h4>Secundary Skills</h4>
      <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let skill of secondarySkills">
          <ng-template carouselSlide [id]="skill.name">
            <app-skill-card class="secondary-card" [skill]="skill" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
