.about{
    background-color: var(--backgroundSecondary);

    p{
        font-weight: 200;

        span{
            font-weight: 400;
        }
    }

    .skills{
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        .container-skills{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 20px;
            margin-bottom: 20px;
    
            .main-card{
                width: 200px;
                height: 200px;
            }

            .secondary-card{
                width: 200px;
                height: 150px;
            }
        }
    }
}



