<div id="about" class="about">
    <div class="container">
        <div class="header">
            <h2>About</h2>
        </div>
        <div class="content">
            <p>I'm 25 and i've been working in software development for over 5 years.
                I embarked on my Java journey when I landed a job creating desktop softwares, 
                and now focused on Web Development as a Mid-Level Developer.
                I'm on a journey to become a skilled FullStack Developer.
                Always excited to learn and take on new challenges in the tech world!</p>
            <p>Besides coding, I love music 🎵 (currently learning piano 🎹), playing video games 🎮 
                and all kinds of sports (⚽ 🏀 ♟️ 🏋🏽 🏓).</p>
        </div>
    </div>
</div>
