.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 250px;
    transition: 0.75s;

    background-color: var(--backgroundPrimary);
    color: var(--colorPrimary);
}

.toolbar-scrolled{
    padding: 10px 100px;
    box-shadow: 0 5px 20px var(--backgroundSecondary);

    .logo img {
        height: 50px;
    }
}

.logo {
    display: flex;
    justify-content: center;

    font-size: 5rem;
    font-weight: 700;
    width: 100px;

    img{
        width: auto;
        height: 90px;
        object-fit: cover;
        transition: 0.75s;
    }
}

.nav-links {
    display: flex;

    a{
        color: var(--colorSecondary);
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;
        transition: color 0.3s ease;
        margin: 0px 20px;

        &:hover{
            text-decoration: underline;
            color: var(--colorPrimary);
        }
    }
}
  
