.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px 7%;
    transition: 0.75s;
    z-index: 100;

    background-color: var(--backgroundPrimary);
}

.toolbar-scrolled{
    padding: 15px 2%;
    background-color: var(--backgroundSecondary);
    box-shadow: 0 5px 20px var(--shadow);

    .logo span {
        opacity: 1;
    }

    .nav-links a{
        width: 100px;
        font-size: 1.5rem;
    }
}

.logo {
    display: flex;
    justify-content: center;
    width: 150px;

    span{
        opacity: 0;
        transition: opacity 1s ease-out;

        font-family: 'Kaushan Script';
        font-weight: 700;
        font-size: 2.5rem;
        color: var(--colorAccent);
    }
}

.nav-links {
    display: flex;
    text-align: center;

    a{
        width: 100px;
        color: var(--colorSecondary);
        font-size: 1.7rem;
        font-weight: 600;
        text-decoration: none;
        transition: 0.5s ;
        margin: 0px 10px;

        &:hover, &:active{
            color: var(--colorPrimary);
        }
    }
}
  
