.job-container {
  display: flex;
  justify-content: center;

  .job-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: max-content;
    padding: 10px 0 10px 20px;
    background-color: #606063;

    font-size: 1.4rem;

    span {
      height: 20px;
      width: 65px;
    }
  }

  .job-triangle {
    width: 0;
    height: 0px;

    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #606063;
  }

  .job-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .job-circle {
      width: 20px;
      height: 20px;

      margin: 15px;
      background-color: var(--colorAccent);
      border: 2px solid transparent;
      border-radius: 100%;
      box-shadow: 0px 0px 15px var(--colorAccent);
    }

    .job-line {
      width: 2px;
      height: calc(100% - 50px);
      background-color: white;
    }
  }

  .job-text {
    a {
      font-size: 1.6rem;
      color: var(--colorAccent);
      text-decoration: none;
    }

    p {
      text-indent: 20px;
      margin-bottom: 30px;
      color: #c6c5c6;
    }

    span {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    .job-date {
      display: none;
    }

    .job-triangle {
      display: none;
    }

    .job-elements {
      display: none;
    }

    .job-text {
      h2 {
        font-size: 2rem;
      }
      span {
        display: block;
      }
    }
  }
}
