.portfolio{
    background-color: var(--backgroundSecondary);
    min-height: 100vh;
    
    .container-projects{
        margin: 15px 0 25px;

        display: flex;
        justify-content: center;
        gap: 20px;

        .project-card{
            width: 33%;
            height: calc(10vw + 250px);

            background-size: 100% 100%;
            background-position: center; 
        }
    }

    .link{
        display: flex;
        justify-content: center;

        a{
            background-color: var(--colorAccent);
            padding: 10px 20px;
            border-radius: 5px;
    
            font-weight: 600;
            font-size: 1.4rem;
            color: var(--backgroundPrimary);
            text-decoration: none;
            text-align: center;
        }
    }
}