.portfolio{
    background-color: var(--backgroundSecondary);
    min-height: 100vh;
    
    .container-projects{
        margin-top: 15px;

        display: flex;
        justify-content: center;
        gap: 20px;

        .project-card{
            width: 33%;
            height: calc(10vw + 250px);

            background-size: 100% 100%;
            background-position: center; 
        }
    }
}