/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
    
    --backgroundPrimary: #171717;
    --backgroundSecondary: #181818;
    --backgroundTertiary: #3d3e42;
    --colorPrimary: white;
    --colorSecondary: #a4a4a5;
    --colorTertiary: #ffc86b;
    --beigePrimary: #f5ecd8;
    --beigeSecondary: #f0e6d5;
    --beigeTertiary: #e6d7b6;
}

body{
    margin: 0;   
    font-family: 'Lato';
}