/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@200;600&display=swap');


:root{
    --backgroundPrimary: #34353a;
    --backgroundSecondary: #31333b;
    --backgroundTertiary: #3d3e42;
    --colorPrimary: white;
    --colorSecondary: #a4a4a5;
    --colorAccent: #ffc86b;
    --shadow: rgba(255, 255, 255, 0.1);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    margin: 0;   
    font-family: 'Poppins';
    background-color: var(--backgroundPrimary);
    color: var(--colorPrimary);
}

h2{
    font-size: 3rem;
    margin: 0;
}

h3{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

p{
    font-size: 1.5rem;
    text-align: justify;

    span {
        color: var(--colorAccent);
    }
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 7% 5% 3%;
    max-width: 1368px;
}